{% extends "base.html" %}

{% block app_content %}
    <h1 class="text-center">{{title}}</h1>

	<div class="table-responsive">
		<table class="table table-hover table-striped table-bordered">
		    <thead class="thead bg-info text-center">
		        <tr>
		            <th class="text-white">
		                Username
		            </th>
		            <th class="text-white">
		                Adicionar à equipa
		            </th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for mon in lista_monitores %}
		        <tr>
		            <td>{{mon['username']}}</td>
		            <td class="text-center">
		            	<form action="" method="post">
		            		<button name="monitor" class="btn btn-raised btn-info" value="{{mon['username']}}">Adicionar</button>
		            	</form>
		            </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
	</div>

    <a href="{{ url_for('equipa.equipa', nome = nome) }}" class="btn btn-raised btn-info">Voltar</a>
{% endblock %}