{% extends "base.html" %}

{% block app_content %}
	<h1 class="text-center">{{title}}</h1>
	<form action="" method="post" onsubmit="return validate();">
		<div class="form-group text-center">
			<label for="nome" class = "label">Nome</label>
			<input type="text" class="form-control" id="nome" name="nome" placeholder="Condutor" onkeydown="Check(event);" onkeyup="Check(event);" maxlength="30" required>
		</div>

		<input type="submit" class="btn btn-raised btn-info" value="Adicionar categoria de utilizadores" />
	</form>
	
	<a class="btn btn-info btn-raised" href="{{ url_for('main.index') }}">Voltar</a>

    <script type="text/javascript">
        //Impede que se insiram números no nome
        function Check(event) {
            var keyCode = (event.keyCode ? event.keyCode : event.which);
            if (keyCode > 47 && keyCode < 58) {
                event.preventDefault();
            }
        };
        
        function validate() {
            var nome = $("#nome").val();
            if ($.trim(nome) === '') {
                alert("Introduza o nome.");
                return false;
            } else {
                if (confirm("Pretende submeter?")) {
                    return true;
                } else {
                    return false;
                }
            }
        };
	</script>
{% endblock %}