{% extends "base.html" %}

{% block app_content %}
    {% include 'info_utente.html' %}
    
    {% if user == current_user %}
    <a href="{{ url_for('utente.utente', user_id=user.id, email=utente.email) }}" class="btn btn-info btn-raised">Voltar</a>
    {% endif %}
    
<h1 class="text-center">{{title}}</h1>

    <div class="table-responsive">
		<table class="table table-hover table-striped table-bordered">
		    <thead class="thead bg-info text-center">
		        <tr>
		            <th class="text-white">
		                Nome
		            </th>
		            <th class="text-white">
		                Descrição
		            </th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for grupo_tarefas in lista_grupos_tarefas %}
		        <tr>
		            <td><strong><a href="{{grupo_tarefas['link']}}" style="color:#03a9f4;">{{grupo_tarefas['nome']}}</a></strong></td>
		            <td>{{ grupo_tarefas['descricao'] }}</td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
	</div>
    {% if user == current_user %}
    <a href="{{ url_for('utente.utente', user_id=user.id, email=utente.email) }}" class="btn btn-info btn-raised">Voltar</a>
    {% endif %}
{% endblock %}